<!-- This HTML File formats the index/home page-->

{% extends "indexBase.html" %}

{% block content %}


<head>
	<!-- favicon (logo in tab) -->
	<link rel="icon" type="image/x-icon" href="https://www.culturemesh.com/images/cm_logo_blank_profile_icon.png">
</head>
<div>
	<div class="cm-index-page">
		<br>
		<!-- logo -->
		<a href="/">
			<img id="cm-top-logo" src="https://www.culturemesh.com/images/logo_header.png"/>
			<br>
		</a>
	</div>
	<!-- greeting image -->
	<!--<img src="https://www.culturemesh.com/images/cmfrontpage_image22.jpg" height = auto  width=85%>-->

	<div class="cm-signin-section px-5">
		<br>
		<div class="cm-signin-prompt">
			<p class="p-3">{{ msg }}</p>
		</div>
		<!-- login functionality for the index page -->
		<form action="\login\" method="post">
			{{ form.hidden_tag() }}
			<input type="text" id="half-width" class="cm-input-field" name="email_or_username" placeholder="Email or Username"></input>
			<br>
			<input type="password" id="half-width" class="cm-input-field" name="password" placeholder="Password"></input>
			<br>
			<br>
			<input type="submit" class="cm-box-button" id="signin-button" value="Log in"></input>
			<br>
		</form>
		<h3 class="p-2" id="loginOrGuest">
			or
		</h3>
		<form action="/search/" method="">
			<input type="submit" class="cm-box-button" value="Continue as Guest">
		</form>
		<div class="cm-signup-section py-4">
    	<div class="cm-account-prompt p-2">
        	Need an account?
    	</div>
    	<a href="/register/">Sign Up</a>
		</div>
		<br>
	</div>
</div>

{% endblock %}
